/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html,
  body {
    /* font-family: "Lato", sans-serif; */
    font-family: ui-sans-serif, system-ui, -apple-system;

    min-width: 350px;
  }
}

.imageUnselectEffect {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  /* msie */
}


/* .sidebar__button {
  /* background: transparent; */
/* padding: 10px; */
/* border: 1px solid white; */
/* border-radius: 4px; */
/* color: white; */
/* transition: 0.3s ease-out; */
/* right: -80px; */
/* text-align: start; */
/* } */



/* .notes-container {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid rgb(88, 80, 80);
  border-radius: 5px;
} */

/* .note {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #a7a5a5;
}

.App {
  border: 5px solid gray;
  padding: 50px;
  border-radius: 5px;
} */